@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

html,
body{
    background: #000;
    min-height: 100vh;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#video{
    position: relative;
}

#video video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo{
    background: #000;
    font-size: 220px;
    text-align: center;
    font-weight: 400;
    mix-blend-mode: multiply;
}

header{
	position:sticky;
    top:0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    text-transform: uppercase;
    font-weight: 700;
}

.logo img{
    height: 70px;
}

.menu ul{
    list-style: none;
}

header .menu ul li{
    float: left;
    position: relative;
}

header .menu ul li a {
    font-size: 18px;
    text-decoration: none; /*Quita las subrayas */
	color: #ffffff;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

header .menu ul li a:hover{
    background-color:#40916C;
}

header .menu ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

header .menu ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}

header .menu ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}

header .menu ul li ul li{
    width: 100%;
    background-color: rgb(61 90 128 / 30%);
}

header .menu ul li ul li ul li{
    background-color:rgb(238 108 77 / 30%);

}
header .menu ul li:hover > ul{
    display: initial;
}

#toggle,
header label{
    display: none;
    cursor: pointer;
}

.bars{
    width: 45px;
    height: 35px;
}

/*Inicio*/

article{
    text-align: center;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}

article .inicio{
    height:90vh !important;
    background: url(poster.png) no-repeat center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    min-width: 320px;
}

article .inicio .p-inicio{
    margin-top: 11cm;
    font-weight: 600;
}
.tittle{
    margin-top: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}
article p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
article .btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
    border-radius: 1rem;

}
article .btn:hover{
    background: none;
}
.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content p{
    font-size: 25px;
}
.sau{
    padding: 30px;
    background: #000;
}
.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*Cuando este en movile se acomode solo*/
    text-align: center;
}
.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #FCA311;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;

}

.box-container .box h3{
    font-size: 30px;
    color: #14213D;
}

.box-container .box p{
    padding: 0 15px;
    font-size: 40px;
}

.about{
    background: #14213D;
}

.about .staff{
    text-align:justify;
    flex-wrap: wrap;
}
.about .staff li{
    height: 4vh;
    font-size: 25px;
}
.price{
    background: url(post.png) no-repeat center;
    background-size: cover;
    text-align: center;
}

/*Personajes*/
.personajes {
    text-align: center;
}

.personajes-img{
    display:grid;
    align-items: center;
    margin: 0;
    justify-content: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.personajes-img section .card{
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 900px;
    padding: 50px 20px 50px 20px;
    background: #FCA311;
    border-radius: 24px;
    box-shadow: 0px 0px 30px #000;
    margin-bottom: 100px;
}

.personajes-img section .card a> img{
    max-width: 280px;
    width: 25vw;
    height: 300px;
    object-fit: cover;
    box-shadow: 0px 0px 30px #000;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: 20px;
    transition: .3s;
}
.personajes-img section .card a> img:hover{
    transform: scale(1.1);
}
.personajes-img section .card div{
    color: #000;
}
.personajes-img section h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: #E5E5E5;
}
.personajes-img section .card div > h3{
    font-size: 30px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 900;
}
.personajes-img section .card div > p{
    font-size:20px;
    margin-bottom: 24px;
    color: #fff;
    
}

/*Galeria*/
.container{
    padding: 15px 10%;
}
.container .gallery {
    display: grid;
    grid-template-columns:
    repeat(
        auto-fit,
        minmax(400px, 1fr)
        );
    gap:80px;
    padding: 100px 0;
}
.container .gallery img{
    border-radius: 8px;
    width: 100%;    
    height: 550px;
    box-shadow:0px 0px 30px #FCA311;
    transition: .3s;
}
.container .gallery img:hover{
    transform: scale(0.9);
}

/*contacto*/
.contacto {
    text-align: center;
    position: relative;
    z-index: 2;
}

.form-contacto{
    width: 400px;
    background: #2c2f35 ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    position: relative;
    z-index:2;
    box-shadow: 7px 13px 37px #000;
    
}
.form-contacto h2{
    font-size: 22px ;
    margin-bottom: 20px;
}
.controls{
    width:100%;
    background:#24303c ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}
.form-contacto .botons{
    width: 100%;
    background: black;
    border: none;
    padding: 16px 32px;
    color: white;
    margin: 16px 0;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    position: relative;
}

footer{
    display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
    
}
footer img{
    max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
    padding-right: 20px;
}
footer img{
    max-width: 3rem;
}

@media (max-width:576px){
    header label{
        display: initial;
    }

    header{
        padding: 20px 10%;
    }

    header .menu{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    header .menu ul li{
        width: 100%;
    }

    header .menu ul li a{
        padding: 8px 30px 8px 10%;
    }
    header .menu ul li ul{
        position: relative;
        width: 100%;
    }
    header .menu ul li ul li{
    background-color: rgb(61 90 128 / 30%);
    }
    header .menu ul li ul li ul{
        position: relative;
        width: 100%;
        left:0;
    }
    header .menu ul li ul li ul li{
        background-color:rgb(238 108 77 / 30%);
    }
    #toggle:checked ~ .menu{
        display: block;
    }
    /*inicio*/
    .tittle{
        margin-bottom: 0;
        font-size: 50px;
    }
    .sau{
        height: 170vh;
    }
    /*PERSONAJES*/
    .personajes-img section .card{
        margin: 0 40px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        flex-direction: column;
        border-radius: 0;
        background-color: rgba(1, 1, 1, 0.7);
        color: #fff;
    }
    .personajes-img section .card img{
        margin: 100px 0 30px 0;
        width: 50vw;
        height: 300px;
        max-width: 100%;
        box-shadow: #fff 0 1px 20px,#fff 0 1px 2px;
    }
    .personajes-img section h2 {
        background-color: #14213D;

    }
   .personajes-img section .card h3 {
        margin-right: 0;
        font-size: 26px;
        color: #fff;
    }
    .personajes-img section .card p{
        color: #fff;
    }
    .container .gallery img{
        width: 100%;    
        height: auto;
    }
}