body{
    background: #000;
    min-height: 100vh;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#video{
    position: relative;
}

#video video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    background: #000;
    font-size: 220px;
    text-align: center;
    font-weight: 400;
    mix-blend-mode: multiply;
}

header{
	position:relative;
    top:0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    text-transform: uppercase;
    font-weight: 700;
}

.logo img{
    height: 70px;
}

.menu ul{
    list-style: none;
}

header .menu ul li{
    float: left;
    position: relative;
}

header .menu ul li a {
    font-size: 18px;
    text-decoration: none; /*Quita las subrayas */
	color: #ffffff;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

header .menu ul li a:hover{
    background-color:#40916C;
}

header .menu ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

header .menu ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}

header .menu ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}

header .menu ul li ul li{
    width: 100%;
    background-color: rgb(61 90 128 / 30%);
}

header .menu ul li ul li ul li{
    background-color:rgb(238 108 77 / 30%);

}
header .menu ul li:hover > ul{
    display: initial;
}

#toggle,
header label{
    display: none;
    cursor: pointer;
}

.bars{
    width: 45px;
    height: 35px;
}

@media(max-width:576px){
    header label{
        display: initial;
    }

    header{
        padding: 20px 10%;
    }

    header .menu{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    header .menu ul li{
        width: 100%;
    }

    header .menu ul li a{
        padding: 8px 30px 8px 10%;
    }
    header .menu ul li ul{
        position: relative;
        width: 100%;
    }
    header .menu ul li ul li{
    background-color: rgb(61 90 128 / 30%);
    }
    header .menu ul li ul li ul{
        position: relative;
        width: 100%;
        left:0;
    }
    header .menu ul li ul li ul li{
        background-color:rgb(238 108 77 / 30%);
    }
    #toggle:checked ~ .menu{
        display: block;
    }
}
footer{
    display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
    
}
footer img{
    max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
    padding-right: 20px;
}
footer img{
    max-width: 3rem;
}
