body{
    background: #000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
header{
	display: flex;
    min-height: 70px;
    background-color: black;
	justify-content: space-between;/*De esquina a esquina*/
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 70px;
}
a{
	text-decoration: none; /*Quita las subrayas */
	color: #ffffff;

}
.menu ul li{
    font-weight: 600;
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}
a:hover{
    color:aqua
}

@media (max-width:576px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

footer{
    display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
    
}
footer img{
    max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
    padding-right: 20px;
}
footer img{
    max-width: 3rem;
}
